.scale-converter{
    display: grid;
    gap: 5px;
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: system-ui;
    font-size: 18px;
    color: rgb(176, 176, 228);
    letter-spacing: .5px;
}
.category-scroll-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgb(55, 53, 53);
}
.scroll-arrow {
    background: none;
    border: none;
    font-size: 18px;
    color: rgb(158, 158, 197);
    padding: 0 2px;
    cursor: pointer;
}
.scroll-arrow.hidden {
    visibility: hidden;
}
.categories{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    gap: 5px;
    &::-webkit-scrollbar {
        display: none;
    }
}
.categories button{
    background-color: transparent;
    border: none;
    margin-bottom: 5px;
    color: #ccc;
}
.categories button.active{
    color: rgb(176, 176, 228);
    border-radius: 12px;
    padding: 5px;
}
.conversion-display{
    display: inherit;
    gap: 5px;
    width: 100%;
}
.from-unit, .to-unit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 13vh;
    border-bottom: 1px solid rgb(55, 53, 53);
    position: relative;
}
.ip-value, .op-value{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: sans-serif;
    color: rgb(158, 158, 197);
    white-space: nowrap;
    padding-right: 5px;
}
.from-unit select, .to-unit select{
    color: rgb(158, 158, 197);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
}
.from-unit select:focus,.to-unit select:focus{
    outline: none;
}

@media screen and (min-width : 768px) {
    .category-scroll-container{
        justify-content: center;
    }
    .categories button{
        font-size: 20px;
    }
    .from-unit select, .to-unit select{
        width: 200px;
        font-size: 17px;
    }
    .ip-value, .op-value{
        font-size: 18px;
    }
    .header{
        font-size: 22px;
    }
    .scroll-arrow{
        display: none;
    }
}



