.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: #fff;
    padding: 8px;
}
.display {
    font-size: 20px;
    padding: 10px;
    text-align: right;
    margin-bottom: 5px;
    white-space: pre-wrap;
    overflow-y: auto;
    height: 100px;
    max-width: 240px;
    font-family: system-ui;
    line-height: 1.5;
    word-wrap: break-word;
    &::-webkit-scrollbar{
        display: none;
    }
}
.cursor{
    animation: blink 1s step-end infinite;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    width: 1px;
    background-color: rgb(144, 144, 227);
}
@keyframes blink {
    50% {
        opacity: 0;
    }
}
.clear-history{
    background-color: rgb(46, 46, 46);
    color: #fff;
    border: none;
    border-radius: 15px;
    font-family: "Poppins";
    font-weight: 400;
    display: flex;
    justify-self: flex-end;
    padding: 5px 25px;
}
.clear-history:hover{
    cursor: pointer;
    background: #fff;
    color: black;
    font-weight: 500;
}
.math-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    padding: 5px 0px;
}
.jBSwj{
    display: flex;
    align-items: center;
    gap: 16px;
}
.icon{
    color: rgb(144, 144, 227);
    font-size: 20px;
}
.icon-container{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2px;
    padding: 3px;
    background-color: rgb(144, 144, 227);
    color: black;
    font-size: 12px;
    border-radius: 5px;
}
.button-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 8px;
}
.rows{
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
}
.rows button{
    border: none;
    border-radius: 50%;
    font-size: 25px;
    background-color: rgb(31, 30, 40);
    width: 4vw;
    height: 9vh;
    color: rgb(144, 144, 227);
}
.rows .clear{
    color: rgb(215, 13, 13);
}
.rows .operator{
    color: rgb(67, 211, 67);
}
.rows .equals{
    background-color: green;
    color: #fff;
    font-size: 35px;
}
.rows .equals:hover{
    background-color: rgb(5, 151, 5);
}